---
layout: home
---

<ol class="list-items">
    <!-- List of functions -->
    <li class="list-items-row">
        <div class="row" data-toggle="collapse" aria-expanded="true" data-target="#list-functions">
            <i class="glyph glyph-add"></i>
            <i class="glyph glyph-remove"></i>
            <strong>List of functions</strong>
        </div>
        <div class="collapse in" aria-expanded="true" id="list-functions">
            <div class="row">
                {% for fuction in site.data.functions %}
                    <div class="col-md-24">
                        - {{ fuction }}
                    </div> 
                {% endfor %}
            </div>
        </div>
    </li>
    <!-- List Itemtypes -->
    <li class="list-items-row">
        <div class="row" data-toggle="collapse" aria-expanded="false" data-target="#list-item-sensors">
            <i class="glyph glyph-add"></i>
            <i class="glyph glyph-remove"></i>
            <strong>List Itemtypes</strong>
        </div>
        <div class="collapse" id="list-item-sensors">
            <div class="row">
                {% for itemtype in site.data.itemtypes %}
                    <div class="col-lg-8 col-md-12 col-xs-24">
                        - {{ itemtype }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </li>
</ol>